In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

In [2]:
df_trf= pd.read_csv('train.csv')
print(df_trf.shape)
df_trf

(4701217, 28)

,Unnamed: 0,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,end_longitude,end_turn_restricted,target,year,month,day,peak_season,j_a_dist,holiday,airport_depart_jeju
0,0,2022-06-23,1,17,1,106,46,0,0,60.0,...,126.662335,0,52.0,2022,6,23,비수기,18.001474,0,27414.0
1,1,2022-07-28,1,21,2,103,34,0,0,60.0,...,126.526240,0,30.0,2022,7,28,성수기,3.396526,0,21230.0
2,2,2021-10-10,4,7,2,103,36,0,0,80.0,...,126.362147,0,61.0,2021,10,10,비수기,27.819272,0,20226.0
3,3,2022-03-11,0,13,2,107,57,0,0,50.0,...,126.566228,0,20.0,2022,3,11,비수기,29.781805,0,13687.0
4,4,2021-10-05,6,8,2,103,35,0,0,80.0,...,126.330152,0,38.0,2021,10,5,비수기,16.224825,0,23209.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,4701212,2021-11-04,1,16,1,107,0,0,0,50.0,...,126.273750,0,20.0,2021,11,4,비수기,22.052573,0,19714.0
4701213,4701213,2022-03-31,1,2,2,107,0,0,0,80.0,...,126.424890,0,65.0,2022,3,31,비수기,7.426998,0,17507.0
4701214,4701214,2022-06-13,3,22,2,103,35,0,0,60.0,...,126.912948,0,30.0,2022,6,13,비수기,39.457593,0,28332.0
4701215,4701215,2021-10-20,2,2,2,103,37,0,0,80.0,...,126.433332,0,73.0,2021,10,20,비수기,9.033216,0,20915.0
4701216,4701216,2021-10-19,6,6,2,107,1,0,0,60.0,...,126.510364,0,35.0,2021,10,19,비수기,27.825962,0,21175.0

In [3]:
df_trf.columns

Index(['Unnamed: 0', 'base_date', 'day_of_week', 'base_hour', 'lane_count',
       'road_rating', 'road_name', 'multi_linked', 'connect_code',
       'maximum_speed_limit', 'weight_restricted', 'road_type',
       'start_node_name', 'start_latitude', 'start_longitude',
       'start_turn_restricted', 'end_node_name', 'end_latitude',
       'end_longitude', 'end_turn_restricted', 'target', 'year', 'month',
       'day', 'peak_season', 'j_a_dist', 'holiday', 'airport_depart_jeju'],
      dtype='object')

In [4]:
df_tst= pd.read_csv('test.csv')
print(df_trf.shape)
df_tst

(4701217, 28)

,Unnamed: 0,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,...,end_latitude,end_longitude,end_turn_restricted,year,month,day,peak_season,j_a_dist,holiday,airport_depart_jeju
0,0,TEST_000000,2022-08-25,목,17,3,107,연삼로,0,0,...,33.500772,126.543837,있음,2022,8,25,성수기,4.534202,0,20492.0
1,1,TEST_000001,2022-08-09,화,12,2,103,일반국도12호선,0,0,...,33.258119,126.415840,없음,2022,8,9,성수기,28.271658,0,20201.0
2,2,TEST_000002,2022-08-05,금,2,1,103,일반국도16호선,0,0,...,33.259206,126.474687,없음,2022,8,5,성수기,27.589075,0,18808.0
3,3,TEST_000003,2022-08-18,목,23,3,103,일반국도11호선,0,0,...,33.471061,126.545467,없음,2022,8,18,성수기,6.106970,0,19469.0
4,4,TEST_000004,2022-08-10,수,17,3,106,번영로,0,0,...,33.496863,126.581230,없음,2022,8,10,성수기,7.074693,0,18849.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,291236,TEST_291236,2022-08-27,토,5,1,103,일반국도16호선,0,0,...,33.470483,126.460846,없음,2022,8,27,성수기,4.689876,0,24428.0
291237,291237,TEST_291237,2022-08-19,금,20,2,103,일반국도11호선,0,0,...,33.300796,126.600332,없음,2022,8,19,성수기,24.443364,0,17566.0
291238,291238,TEST_291238,2022-08-05,금,11,1,107,신대로,0,0,...,33.497500,126.496946,있음,2022,8,5,성수기,1.489836,0,18808.0
291239,291239,TEST_291239,2022-08-12,금,7,2,107,경찰로,0,0,...,33.255659,126.507333,없음,2022,8,12,성수기,28.039576,0,19496.0
291240,291240,TEST_291240,2022-08-12,금,10,3,106,지방도1132호선,0,0,...,33.247053,126.523503,없음,2022,8,12,성수기,29.020713,0,19496.0

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
str_col = ['peak_season']     #성수기 1,0 변환.
for i in str_col:
    le = LabelEncoder()
    le=le.fit(df_trf[i])
    df_trf[i]=le.transform(df_trf[i])

In [7]:
for label in np.unique(df_tst[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
df_tst[i]=le.transform(df_tst[i])

In [8]:
df_trf.head()

,Unnamed: 0,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,end_longitude,end_turn_restricted,target,year,month,day,peak_season,j_a_dist,holiday,airport_depart_jeju
0,0,2022-06-23,1,17,1,106,46,0,0,60.0,...,126.662335,0,52.0,2022,6,23,0,18.001474,0,27414.0
1,1,2022-07-28,1,21,2,103,34,0,0,60.0,...,126.526240,0,30.0,2022,7,28,1,3.396526,0,21230.0
2,2,2021-10-10,4,7,2,103,36,0,0,80.0,...,126.362147,0,61.0,2021,10,10,0,27.819272,0,20226.0
3,3,2022-03-11,0,13,2,107,57,0,0,50.0,...,126.566228,0,20.0,2022,3,11,0,29.781805,0,13687.0
4,4,2021-10-05,6,8,2,103,35,0,0,80.0,...,126.330152,0,38.0,2021,10,5,0,16.224825,0,23209.0

In [9]:
from math import radians, cos, sin, asin, sqrt

In [10]:
def haversine(row):                    #출발-도착간 거리 추가.
    lon1 = row['start_longitude']
    lat1 = row['start_latitude']
    lon2 = row['end_longitude']
    lat2 = row['end_latitude']
    
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    km = 6367 * c
    return km

In [11]:
df_trf['distance'] = df_trf.apply(haversine, axis=1)

In [12]:
df_tst['distance'] = df_tst.apply(haversine, axis=1)

In [13]:
df_trf.head()

,Unnamed: 0,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,end_turn_restricted,target,year,month,day,peak_season,j_a_dist,holiday,airport_depart_jeju,distance
0,0,2022-06-23,1,17,1,106,46,0,0,60.0,...,0,52.0,2022,6,23,0,18.001474,0,27414.0,0.025694
1,1,2022-07-28,1,21,2,103,34,0,0,60.0,...,0,30.0,2022,7,28,1,3.396526,0,21230.0,0.525560
2,2,2021-10-10,4,7,2,103,36,0,0,80.0,...,0,61.0,2021,10,10,0,27.819272,0,20226.0,0.608016
3,3,2022-03-11,0,13,2,107,57,0,0,50.0,...,0,20.0,2022,3,11,0,29.781805,0,13687.0,0.107285
4,4,2021-10-05,6,8,2,103,35,0,0,80.0,...,0,38.0,2021,10,5,0,16.224825,0,23209.0,0.337736

In [14]:
df_trf[['start_longitude','start_latitude','end_longitude','end_latitude']].head()

   start_longitude  start_latitude  end_longitude  end_latitude
0       126.662612       33.427747     126.662335     33.427749
1       126.529107       33.500730     126.526240     33.504811
2       126.368598       33.279145     126.362147     33.280072
3       126.567204       33.246081     126.566228     33.245565
4       126.326551       33.462214     126.330152     33.462677

In [15]:
from haversine import haversine

In [16]:
sungsan = 33.458386, 126.941753         #성산일출봉과의 거리
df_trf['s_s_dist'] = [haversine((v[0], v[1]), sungsan, unit = 'km') for v in df_trf[['start_latitude', 'start_longitude']].values]
df_tst['s_s_dist'] = [haversine((v[0], v[1]), sungsan, unit = 'km') for v in df_tst[['start_latitude', 'start_longitude']].values]

In [17]:
chunjiyun = 33.244978, 126.558729         #천지연폭포와의 거리
df_trf['c_y_dist'] = [haversine((v[0], v[1]), chunjiyun, unit = 'km') for v in df_trf[['start_latitude', 'start_longitude']].values]
df_tst['c_y_dist'] = [haversine((v[0], v[1]), chunjiyun, unit = 'km') for v in df_tst[['start_latitude', 'start_longitude']].values]

In [18]:
hanra = 33.392445, 126.510042         #한라산국립공원과의 거리
df_trf['h_r_dist'] = [haversine((v[0], v[1]), hanra, unit = 'km') for v in df_trf[['start_latitude', 'start_longitude']].values]
df_tst['h_r_dist'] = [haversine((v[0], v[1]), hanra, unit = 'km') for v in df_tst[['start_latitude', 'start_longitude']].values]

In [19]:
camelia = 33.289687, 126.369057         #카멜리아힐과의 거리
df_trf['c_l_dist'] = [haversine((v[0], v[1]), camelia, unit = 'km') for v in df_trf[['start_latitude', 'start_longitude']].values]
df_tst['c_l_dist'] = [haversine((v[0], v[1]), camelia, unit = 'km') for v in df_tst[['start_latitude', 'start_longitude']].values]

In [20]:
jusang = 33.239035, 126.42484         #주상절리대와의 거리
df_trf['j_s_dist'] = [haversine((v[0], v[1]), jusang, unit = 'km') for v in df_trf[['start_latitude', 'start_longitude']].values]
df_tst['j_s_dist'] = [haversine((v[0], v[1]), jusang, unit = 'km') for v in df_tst[['start_latitude', 'start_longitude']].values]

In [23]:
df_trf[['s_s_dist','c_y_dist','h_r_dist','c_l_dist','j_s_dist']].head()

    s_s_dist   c_y_dist   h_r_dist   c_l_dist   j_s_dist
0  26.123177  22.498009  14.695556  31.288871  30.467500
1  38.559770  28.571134  12.170040  27.775366  30.667853
2  56.834798  18.081681  18.203895   1.172985   6.873099
3  42.042378   0.797651  17.119731  19.049550  13.262873
4  57.071632  32.381058  18.712264  19.586007  26.442434

In [21]:
X_train = df_trf.drop(['base_date', 'target'], axis=1)
y_train = df_trf['target']
test = df_tst.drop(['base_date'], axis=1)

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, KFold

In [18]:
n_folds = 10

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(X_train.values)
    rmse= np.sqrt(-cross_val_score(model, X_train.values, y_train, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

In [37]:
pip install lightgbm

Collecting lightgbm==2.2.3
  Downloading lightgbm-2.2.3-py2.py3-none-win_amd64.whl (515 kB)
Requirement already satisfied: scikit-learn in c:\users\kimmi\anaconda3\lib\site-packages (from lightgbm==2.2.3) (1.0.2)
Requirement already satisfied: scipy in c:\users\kimmi\anaconda3\lib\site-packages (from lightgbm==2.2.3) (1.7.3)
Requirement already satisfied: numpy in c:\users\kimmi\anaconda3\lib\site-packages (from lightgbm==2.2.3) (1.21.5)
Requirement already satisfied: joblib>=0.11 in c:\users\kimmi\anaconda3\lib\site-packages (from scikit-learn->lightgbm==2.2.3) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kimmi\anaconda3\lib\site-packages (from scikit-learn->lightgbm==2.2.3) (2.2.0)
Installing collected packages: lightgbm
  Attempting uninstall: lightgbm
    Found existing installation: lightgbm 3.3.3
    Uninstalling lightgbm-3.3.3:
      Successfully uninstalled lightgbm-3.3.3
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'C:\\Users\\kimmi\\anaconda3\\Lib\\site-packages\\~ightgbm\\lib_lightgbm.dll'
Consider using the `--user` option or check the permissions.

In [23]:
from lightgbm import LGBMRegressor

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, 
                                            stratify=df_trf['base_hour'], random_state=2021)

In [32]:
print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)

(3760973, 32) (3760973,)
(940244, 32) (940244,)

In [29]:
lgb_model = LGBMRegressor(n_estimators=50000, 
                              num_leaves = 128, 
                              subsample=0.6,
                              colsample_bytree=0.7,
                              reg_lambda=15,
                              random_state=20)

In [30]:
lgb_model.fit(X_train, y_train,
                eval_set=[(X_val, y_val)],
                eval_metric='l1',
                verbose=500,
                early_stopping_rounds=500)

Training until validation scores don't improve for 500 rounds.
[500]	valid_0's l2: 20.8904	valid_0's l1: 3.22307
[1000]	valid_0's l2: 19.9018	valid_0's l1: 3.12335
[1500]	valid_0's l2: 19.4069	valid_0's l1: 3.07399
[2000]	valid_0's l2: 19.1731	valid_0's l1: 3.05047
[2500]	valid_0's l2: 18.9813	valid_0's l1: 3.03117
[3000]	valid_0's l2: 18.8454	valid_0's l1: 3.01742
[3500]	valid_0's l2: 18.712	valid_0's l1: 3.00461
[4000]	valid_0's l2: 18.6292	valid_0's l1: 2.9964
[4500]	valid_0's l2: 18.5601	valid_0's l1: 2.98958
[5000]	valid_0's l2: 18.5084	valid_0's l1: 2.98449
[5500]	valid_0's l2: 18.4507	valid_0's l1: 2.97913
[6000]	valid_0's l2: 18.418	valid_0's l1: 2.9759
[6500]	valid_0's l2: 18.3844	valid_0's l1: 2.97232
[7000]	valid_0's l2: 18.3549	valid_0's l1: 2.96935
[7500]	valid_0's l2: 18.323	valid_0's l1: 2.96641
[8000]	valid_0's l2: 18.3012	valid_0's l1: 2.96416
[8500]	valid_0's l2: 18.2717	valid_0's l1: 2.96144
[9000]	valid_0's l2: 18.2437	valid_0's l1: 2.959
[9500]	valid_0's l2: 18.2343	valid_0's l1: 2.95798
[10000]	valid_0's l2: 18.2155	valid_0's l1: 2.95614
[10500]	valid_0's l2: 18.1962	valid_0's l1: 2.95422
[11000]	valid_0's l2: 18.1829	valid_0's l1: 2.95285
[11500]	valid_0's l2: 18.1734	valid_0's l1: 2.95194
[12000]	valid_0's l2: 18.1644	valid_0's l1: 2.95094
[12500]	valid_0's l2: 18.1538	valid_0's l1: 2.95016
[13000]	valid_0's l2: 18.1471	valid_0's l1: 2.94939
[13500]	valid_0's l2: 18.1428	valid_0's l1: 2.9489
[14000]	valid_0's l2: 18.1404	valid_0's l1: 2.94863
[14500]	valid_0's l2: 18.1314	valid_0's l1: 2.94783
[15000]	valid_0's l2: 18.1274	valid_0's l1: 2.94736
[15500]	valid_0's l2: 18.1213	valid_0's l1: 2.9468
[16000]	valid_0's l2: 18.1162	valid_0's l1: 2.94628
[16500]	valid_0's l2: 18.1134	valid_0's l1: 2.94594
[17000]	valid_0's l2: 18.1108	valid_0's l1: 2.94572
[17500]	valid_0's l2: 18.1083	valid_0's l1: 2.94539
[18000]	valid_0's l2: 18.106	valid_0's l1: 2.94514
[18500]	valid_0's l2: 18.104	valid_0's l1: 2.9449
[19000]	valid_0's l2: 18.1029	valid_0's l1: 2.94476
[19500]	valid_0's l2: 18.1017	valid_0's l1: 2.94473
[20000]	valid_0's l2: 18.098	valid_0's l1: 2.94454
[20500]	valid_0's l2: 18.096	valid_0's l1: 2.94441
[21000]	valid_0's l2: 18.0956	valid_0's l1: 2.94438
Early stopping, best iteration is:
[20935]	valid_0's l2: 18.0949	valid_0's l1: 2.94425

LGBMRegressor(colsample_bytree=0.7, n_estimators=50000, num_leaves=128,
              random_state=20, reg_lambda=15, subsample=0.6)

In [33]:
print(f"훈련 셋: {mean_squared_error(y_train, lgb_model.predict(X_train))}")
print(f"검증 셋: {mean_squared_error(y_val, lgb_model.predict(X_val))}")

훈련 셋: 10.470783369014201
검증 셋: 18.094902977511552

In [25]:
import lightgbm as lgb

In [45]:
train_ds = lgb.Dataset(X_train, label = y_train) 
test_ds = lgb.Dataset(X_val, label = y_val)

In [46]:
params = {'learning_rate': 0.05,  
          'boosting': 'gbdt', 
          'objective': 'regression', 
          'metric': 'mse', 
          'is_training_metric': True, 
          'num_leaves': 144, 
          'feature_fraction': 0.9, 
          'bagging_fraction': 0.7, 
          'bagging_freq': 5, 
          'seed':2022}

In [47]:
model = lgb.train(params, train_ds, 10000, test_ds, verbose_eval=500, early_stopping_rounds=500)

Training until validation scores don't improve for 500 rounds.
[500]	valid_0's l2: 21.6191
[1000]	valid_0's l2: 20.3774
[1500]	valid_0's l2: 19.8411
[2000]	valid_0's l2: 19.4957
[2500]	valid_0's l2: 19.2781
[3000]	valid_0's l2: 19.1117
[3500]	valid_0's l2: 18.9773
[4000]	valid_0's l2: 18.8669
[4500]	valid_0's l2: 18.7926
[5000]	valid_0's l2: 18.7074
[5500]	valid_0's l2: 18.6547
[6000]	valid_0's l2: 18.6001
[6500]	valid_0's l2: 18.5498
[7000]	valid_0's l2: 18.5091
[7500]	valid_0's l2: 18.4747
[8000]	valid_0's l2: 18.4419
[8500]	valid_0's l2: 18.4159
[9000]	valid_0's l2: 18.3844
[9500]	valid_0's l2: 18.367
[10000]	valid_0's l2: 18.3447
Did not meet early stopping. Best iteration is:
[9998]	valid_0's l2: 18.3446

In [48]:
predict_train = model.predict(X_train)
predict_test = model.predict(X_val)

In [50]:
mse = mean_squared_error(y_val, predict_test)
print('Mean squared error: ', mse)

Mean squared error:  18.344618664129687

In [26]:
#Validation function
n_folds = 5

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(X_train.values)
    rmse= np.sqrt(-cross_val_score(model, X_train.values, y_train, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

In [27]:
model_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)

In [28]:
score = rmsle_cv(model_lgb)
lgb_score = score.mean()
print("LGBMRegressor score: {:.4f} ({:.4f})".format(score.mean(), score.std()))

LGBMRegressor score: 7.3898 (0.0103)

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
model_rf = RandomForestRegressor(n_estimators=3000, 
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10)

In [ ]:
score = rmsle_cv(model_rf)
print("RandomForestRegressor score: {:.4f} ({:.4f})".format(score.mean(), score.std()))